---
layout: main
title: "Find Your Smile, Change The World"

meta_description: By finding your true smile, a warm heart, and a clam mind we can change the world. Take initiative and start a revolution.
---

<div class="page-content">
	
<header class="main-head">
	<ul class="tabs">
	  <!-- Give href an ID value of corresponding "tabs-content" <li>'s -->
	  <li><a href="#about">About</a></li>
	  <li><a class="active" href="#home">Hello</a></li>
	  <li><a href="#writing">Writing</a></li>
	</ul>
<h1 class="turn remove-bottom"><a href="{{ site.blog_url }}">{{ site.name }}</a></h1>
<h3 class="add-top half-bottom inset-text">Find Your Smile, Change The World</h3>
</header>

	
	<!-- Standard <ul> with class of "tabs-content" -->
	<section class="tabs-content">
	  <!-- Give ID that matches HREF of above anchors -->
	
	  <article id="aboutTab">{% include about.html %}</article>
	
	  <article id="writingTab">{% include writing.html %}</article>
	
	  <article class="active" id="homeTab">
		{% for post in site.posts limit:1 %}	
			<header>
			    <h1><a href="{{ site.blog_url }}{{ post.url }}">{{ post.title }}</a></h1>
				<h5 class="date">{{ post.date | date: "%B, %e - %Y" }}</h5>
			</header>

	    	{{ post.content | replace:'more start -->','' | replace:'<!-- more end','' }}

			<h4><a href="{{ site.blog_url }}{{ post.url }}#readmore" rel="nofollow">Read More...</a></h4>
	{% endfor %} <!-- -->
	
	</article>
	
	</section> <!-- end of #tabs-content -->
	
	
</div> <!-- end of #page-content -->

