<!doctype html>
<!-- thanks html5boilerplate for awesome stuff that follows -->
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <title>{{ page.title }} &middot; {{ site.name }}</title>
  <meta name="description" content="{{ page.description }}">
  <meta name="author" content="Joe Hand">

  <!-- Mobile viewport optimized: j.mp/bplateviewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- sitemap link -->
  <link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml" />

  <!-- prefetching fonts and js -->
  <link rel="dns-prefetch" href="//ajax.googleapis.com" />
  <link rel="dns-prefetch" href="//fonts.googleapis.com.com" />

  <!-- CSS: implied media="all" -->
  <link rel="stylesheet" href="{{ site.csspath }}main.css?v=2">

  <link href='http://fonts.googleapis.com/css?family=Buda:light' rel='stylesheet' type='text/css'>

<!-- All JavaScript at the bottom, except for Modernizr and Respond.-->
  <script src="{{ site.jspath }}modernizr-2.0.min.js"></script>
  <script src="{{ site.jspath }}respond.min.js"></script>

</head>
<body class="{{ page.body_class }}">
