<aside class="social">
	<p class="remove-bottom small-caps">Subscribe</p>
	<h5><a href="https://twitter.com/hand_joe" title="Twitter"><img src="{{ site.imgpath }}/twitter.png" width=32 height=32/></a></h5>
	<h5><a href="http://feeds.feedburner.com/SmilingJoe" title="Rss"><img src="{{ site.imgpath }}/rss.png" width=32 height=32/></a></h5>
	<h5><a href="http://feedburner.google.com/fb/a/mailverify?uri=SmilingJoe&amp;loc=en_US" title="Email"><img src="{{ site.imgpath }}/mail.png" width=32 height=32/></a></h5>
</aside>