/**
 * HTML5 ✰ Boilerplate
 *
 * style.css contains a reset, font normalization and some base styles.
 *
 * Credit is left where credit is due.
 * Much inspiration was taken from these projects:
 * - yui.yahooapis.com/2.8.1/build/base/base.css
 * - camendesign.com/design/
 * - praegnanz.de/weblog/htmlcssjs-kickstart
 */


/**
 * html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
 * v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
 * html5doctor.com/html-5-reset-stylesheet/
 */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }

ins { background-color: #ff9; color: #000; text-decoration: none; }

mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }


/**
 * Font normalization inspired by YUI Library's fonts.css: developer.yahoo.com/yui/
 */

body { font:13px/1.231 sans-serif; *font-size:small; } /* Hack retained to preserve specificity */
select, input, textarea, button { font:99% sans-serif; }

/* Normalize monospace sizing:
   en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome */
pre, code, kbd, samp { font-family: monospace, sans-serif; }


/**
 * Minimal base styles.
 */

/* Always force a scrollbar in non-IE */
html { overflow-y: scroll; }

/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: none; }

ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }

/* Remove margins for navigation lists */
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }

small { font-size: 85%; }
strong, th { font-weight: bold; }

td { vertical-align: top; }

/* Set sub, sup without affecting line-height: gist.github.com/413930 */
sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre {
  /* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
  white-space: pre; white-space: pre-wrap; word-wrap: break-word;
  padding: 15px;
}

textarea { overflow: auto; } /* www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/ */

.ie6 legend, .ie7 legend { margin-left: -7px; } 

/* Align checkboxes, radios, text inputs with their label by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea { margin: 0; }

/* Colors for form validity */
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid {
   border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red;
}
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }


/* These selection declarations have to be separate
   No text-shadow: twitter.com/miketaylr/status/12228805301 */
::-moz-selection{ background: #607890; color:#fff; text-shadow: none; }
::selection { background:#607890; color:#fff; text-shadow: none; }

/* j.mp/webkit-tap-highlight-color */
a:link { -webkit-tap-highlight-color: #FF5E99; }

/* Make buttons play nice in IE:
   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {  width: auto; overflow: visible; }

/* Bicubic resizing for non-native sized IMG:
   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img { -ms-interpolation-mode: bicubic; }

/**
 * You might tweak these..
 */

body, select, input, textarea {
  /* #444 looks better than black: twitter.com/H_FJ/statuses/11800719859 */
  color: #444;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 62.5%; /* -- Sets 1em to equal 10px -- */ 
}

/* Headers (h1, h2, etc) have no default font-size or margin; define those yourself */
h1, h2, h3, h4, h5, h6 { font-weight: bold; }

a, a:active, a:visited {
color: #607890;
 -webkit-transition: color 1s linear;
	  -moz-transition:: color 1s linear;
 -o-transition: color 1s linear;/* opera */
	  transition:: color 1s linear;
}

a:hover {
 color: #c00;
}


/**
 * Primary styles
 *
 * Author: Joe Hand
 */

/*
	* Main stylesheet: contains CSS normalization, base styles, typography with a vertical rhythm and some mobile-first media queries

	* Credit is left inline
	* Much content and inspiration was taken from the normalize.css project:
	* http://necolas.github.com/normalize.css/ and https://github.com/jonathantneal/normalize.css

	* The media queries included in here are only placeholder. You should modify them as your content requires
*/

/* ==========================================================================================> DEFAULT STYLES */

/* Styles for all viewport widths and print */

/* ============================================================> HTML5 ELEMENTS DISPLAY */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, dialog {
	display: block;
}

audio[controls], canvas, video {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

/* ============================================================> BASE STRUCTURE */

html {
	height: 100%;
	font-size: 100%;
	overflow-y: scroll; /* Force a scrollbar in non-IE */
	-webkit-text-size-adjust: 100%; /* Remove iOS text size adjust without disabling user zoom */
}

/*
	* The body will work like a 'div#wrapper' (for this to work, the 'body' needs to have a set width)

	* To add a background to the PAGE, set it in the 'html' element
	* To add a background to the WRAPPER, set it in the 'body' element
*/
body {
	margin: 0 auto;
	min-height: 100%;
}

/* Font settings */
body, button, input, select, textarea {
	font: 16px/1.625 Georgia, serif;
	*font-size: 1em; /* IE7 and older: IE can't resize px-based text and most mobiles don't default the text to 16px */
	color: #333; /* Black on white is too much contrast, #333 is a lot better */
}

/* Add more tags as your project needs */
p, blockquote, q, pre, address, hr, code, samp, dl, ol, ul, form, table, fieldset, menu, h4, h5, h6, img {
	margin: 0 0 1.625em;
}

/* ============================================================> HEADINGS AND SMALL */

/* 
	* Font sizes are based on the golden ratio of 16
	* See this for the modular scale: ow.ly/5jGl6
	* Line-heights and margins are adjusted to keep a 26px (1.625em) vertical rhythm across elements 
*/

h1, h2, h3, h4, h5, h6 {
	font-size: 1em;
	font-weight: normal;
	color: #111; /* More contrast than body text for headings */
}

h1 {
	font-size: 4.25em; /* 68px */
	line-height: 1.1471em;
	margin: 0 0 0.3824em;
}

h2 {
	font-size: 2.625em; /* 42px */
	line-height: 1.2381em;
	margin: 0 0 0.619em;
}

h3 {
	font-size: 1.625em; /* 26px */
	line-height: 1em;
	margin: 0 0 1em;
}

small {
	font-size: 0.625em; /* 10px */
	margin: 0 0 2.6em;
}

/* ============================================================> PREFORMATTED TEXT AND CODE */

/* Allows line wrapping of 'pre' */
pre {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

pre, code, kbd, samp {
	font: 1em/1.625em Menlo, Consolas, 'DejaVu Sans Mono', Monaco, 'Courier New', Courier, monospace;
}

/* ============================================================> TABLES */

table {
	border-collapse: collapse;
	border-spacing: 0;
}

th {
	text-align: left;
}

tr, th, td {
	padding-right: 1.625em;
	border-bottom: 0 solid #333;
}

/* ============================================================> FORMS */

form {
	margin: 0;
}

fieldset {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
	vertical-align: top;
}

legend {
	*margin-left: -7px;
}

button, input, select, textarea {
	vertical-align: baseline;
	*vertical-align: middle; /* IE7 and older */
}

button, input {
	line-height: normal;
	*overflow: visible;
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
	cursor: pointer;
	-webkit-appearance: button;
}

input[type="checkbox"], input[type="radio"] {
	box-sizing: border-box;
}

input[type="search"] {
	-webkit-appearance: textfield;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

/* ============================================================> QUOTES */

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

blockquote, q, cite {
	font-style: italic;
}

blockquote {
	padding-left: 1.625em;
	border-left: 3px solid #ccc;
}

blockquote > p {
	padding: 0;
}

/* ============================================================> LISTS */

ul, ol {
	list-style-position: inside;
	padding: 0;
}

li ul, li ol {
	margin: 0 1.625em;
}

dl dd {
	margin-left: 1.625em;
}

/* ============================================================> LINKS */

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:focus {
	outline: thin dotted;
}

/* Better CSS outline suppression: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active {
	outline: none;
}

/* ============================================================> VISUAL MEDIA */

figure {
	margin: 0;
}

img, object, embed, video {
	max-width: 100%; /* Consider this first: unstoppablerobotninja.com/entry/fluid-images/ */
	_width: 100%; /* If the image/video is smaller than the container, change 100% to an absolute value */
}

img {
	border: 0;
	-ms-interpolation-mode: bicubic; /* Improve IE's resizing of images: css-tricks.com/ie-fix-bicubic-scaling-for-images */
}

/* Corrects overflow displayed oddly in IE9 */
svg:not(:root) {
	overflow: hidden;
}

/* ============================================================> ABBREVIATIONS */

abbr[title], dfn[title] {
	border-bottom: 1px dotted #333;
	cursor: help;
}

/* ============================================================> MARKED/INSERTED/DELETED TEXT */

ins, mark {
	text-decoration: none;
}

mark {
	background: #ff0;
}

ins {
	background: #ff9;
}

del {
	text-decoration: line-through;
}

/* ============================================================> OTHERS */

strong, b, dt {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

var, address {
	font-style: normal;
}

/* Position 'sub' and 'sup' without affecting line-height: gist.github.com/413930 */
sub, sup {
	font-size: 0.625em;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

/* ============================================================> HELPER CLASSES */

/* 
	* Micro clearfix hack
	* More semantically titled with the class name 'group'

	* Source: nicolasgallagher.com/micro-clearfix-hack/
*/
.group:before, .cf:after { 
	content: ""; 
	display: table; 
}

.group:after { 
	clear: both; 
}

.group { 
	*zoom: 1;
}

/* ============================================================> PRIMARY STYLES */









/*general size and other styles*/
	
h1 {
		margin: 15px 0;
		 padding:.2em 0; 
		font-size: 3em;
		text-align:left !important;
		display:block;
		text-shadow: 1px 1px 1px #efefef; 
		line-height:1em;
}

h2 { 
		  text-align: center; 
		  padding:.8em 0 .2em 0; 
		  font-family: Futura; 
		  font-size: 2em;
		  text-transform: uppercase; 
		  color: #999; 
		  letter-spacing: 1px; 
		  text-shadow: 1px 1px 1px #efefef; 
		  line-height:2em;
		  border-bottom: 1px solid #cfcfcf; 
 }

h3 {
		font-weight: normal; 
		font-style: italic;
		font-family: Futura; 
		font-size: 2.2em; 
		text-align:left !important;
		margin: 10px 0;
		padding:0 0 0 10px;
		display:block;
		text-transform: uppercase;
		  letter-spacing: 1px; 
		  text-shadow: 1px 1px 1px #efefef; 
		line-height:2em;
		border-left: 3px solid #cfcfcf;
}

h4 {
		font-family: "Arial Narrow", Arial, Verdana, sans-serif;
		text-align:left !important;
		font-size: 1.5em; 
		margin: 10px 0;
		padding:0 0 0 10px;
		display:block;
		text-transform: uppercase;
		  letter-spacing: 1px; 
		  text-shadow: 1px 1px 1px #efefef; 
		line-height:2em;
		border-left: 3px solid #cfcfcf;
}

h5 {
    font-size:1.4em;
    margin:5px 0;
}
h6 {
    font-size:1.2em;
}

p {
	font-size:1.4em;
	line-height:1.4em;
	margin:1em 0;
	width:470px;
    font-family: Georgia;
}


b {
	font-weight:bold;
}

em {
	font-style:italic;
}

li {
		font-size:1.3em;
}

.date{
	font-size:2em;
	font-family: 'Buda', arial, serif;
}
/**
 * main stlyes
 */
 
 /* header */

header {
    margin-left:5px;
    width:500px;
}

header h1 { 
    font-family: 'Buda', arial, serif; 
	font-size:3.5em;
    margin-bottom:0px;
    }
    
header a {
    text-decoration:none;
}

header h4 {
    margin-left:5px;
    margin-top:0px;
}

nav {
	position:relative;

}
 /* nav links for about and homepage */
nav.main {
    width:580px;
    margin-left:-290px;
    left:50%;
    text-align:center;
}

nav.main li {
  float: left;
  margin-bottom: 0.2em;
}

nav.main li a {
  margin:0px;
  display: block;
  padding: 0.4em 0.5em;
  width:265px;
  font-size:1.3em;
  color: #444;
  font-weight: bold;  text-shadow: 0 1px hsla( 0, 0%, 100%, 0.5 );
}

nav.main li a:hover {
 color: #c00;
  -webkit-box-shadow: inset 0 2px 8px hsla( 0, 0%, 0%, 0.6 );
     -moz-box-shadow: inset 0 2px 8px hsla( 0, 0%, 0%, 0.6 );
       -o-box-shadow: inset 0 2px 8px hsla( 0, 0%, 0%, 0.6 );
          box-shadow: inset 0 2px 8px hsla( 0, 0%, 0%, 0.6 );
}


nav.main li a {
}

nav.main li:first-child a {
  border-right: 2px solid hsla( 0, 0%,   0%, 0.2 );

}

nav.main li:last-child a {
}


 /* post navigation (hidden for now) */



nav.short  {
    display:none;
	position:absolute;
	right:10%;
	top:5em;
	border:2px solid #777;
	border-radius:8px;
	width:90px;
	padding:10px;
}

nav li.active {
	opacity:.3;
	-webkit-transition:all 1s ease-in-out;  
   -moz-transition:all 1s ease-in-out;  
   -o-transition:all 1s ease-in-out;  
   transition:all 1s ease-in-out;  
}

nav.short:hover li.active {
	opacity:1;
} 


nav.short .date {
	font-size:1.3em;
	width:200px;
	display:block;
}


 /* homepage post navigation */

nav.description .date { 
    
    margin-left:80%;
}


nav.description {
	padding:10px;
	margin:4.5em .5em .5em;
	width:580px;
}

nav.description h3{
    font-weight:bold;
    border:none;
    margin-bottom:0px;
}
nav.description h4{
    font-weight:bold;
    margin-top:0px;
    border-left:none;
    }


nav.description li {
	border-bottom:3px solid #777;
    display:block;
}

nav p.description {
	display:block;
	font-size:1.2em;
    padding:.5em 1em;
    width:95%;
}

nav ul li {
    list-style-type:none;
}

/*all the blog article stuff*/

article {
	position:relative;
	border-top:3px solid #777;
	border-bottom:3px solid #777;
	padding:10px 20px 10px 0px;
	margin:2em .5em;
	width:550px;
}

article h6,
article h5,
article h2 {
    margin-left:15px;
}

section header {
	margin:1em .8em 1em 1em;
	width:575px;
}

section p {
	width:550px;
    padding:0 1em;
} 
section ol,
section ul {
	width:475px;
    padding:0 1.5em;
}

img {
padding:0 20px;
float:right;}

/**
 * Non-semantic helper classes: please define your styles before this section.
 */

/* For image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }

/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* The Magnificent Clearfix: Updated to prevent margin-collapsing on child elements.
   j.mp/bestclearfix */
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
.clearfix { zoom: 1; }



/* ==========================================================================================> SCREEN-ONLY WIDE MOBILE (480px+) STYLES */

@media only screen and (min-width: 480px) {
	body {

	}
}

/* ==========================================================================================> SCREEN-ONLY TABLETS/NETBOOKS (768px+) STYLES */

@media only screen and (min-width: 768px) { 
	body {

	}
}

/* ==========================================================================================> SCREEN-ONLY DESKTOPS (1024px+) STYLES */

@media only screen and (min-width: 1024px) { 
	body {

	}
}

/**
 * Print styles.
 *
 * Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
 */
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; } /* Black prints faster: sanbeiji.com/archives/953 */
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}

