---
layout: main
---
<header class="main-head">
<h3 class="remove-bottom"><a href="{{ site.blog_url }}">{{ site.name }}</a></h3>
<h3 class="add-top">Find Your Smile, Change The World</h3>
</header>

<div class="content post">
	<section>
		
	<header>
		<h2>{{ page.title }}</h2>
		<h3>{{ page.date | date: "%B %e" }}</h3>
		
	    {% if post.category == "experiments" %}
		<p>{{ page.description }}</p>
	    {% endif %}
	</header>
	
	<article>	 
    {{ content }}	
	</article>
	
	<footer id="comments">
	{% include disqus.html %}
	</footer>
	</section>
	
</div>